* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors */
    --danger: #B73A3A;
    --primary_0: #F9B9FF;
    --primary_50: #EDA7F4;
    --primary_100: #E294E9;
    --primary_150: #D682DD;
    --primary_200: #CA6FD2;
    --primary_300: #B34BBC;
    --primary_400: #9B26A5;
    --primary_500: #84018F;
    --primary_600: #6A0172;
    --primary_700: #4F0156;
    --primary_800: #350039;
    --primary_850: #28002B;
    --primary_900: #1A001D;
    --primary_950: #0D000E;
    --primary_1000: #000000;
    --secondary_0: #FFF7F2;
    --secondary_50: #FFEFE5;
    --secondary_100: #FFDFCC;
    --secondary_150: #FFCFB2;
    --secondary_200: #FFBF99;
    --secondary_300: #FE9E66;
    --secondary_400: #FE7E33;
    --secondary_500: #FE5E00;
    --secondary_600: #CB4B00;
    --secondary_700: #983800;
    --secondary_800: #662600;
    --secondary_850: #4C1C00;
    --secondary_900: #331300;
    --secondary_950: #190900;
    --secondary_1000: #000000;
    --neutral_0: #FFFFFF;
    --neutral_50: #F2F2F2;
    --neutral_100: #E6E6E6;
    --neutral_150: #D9D9D9;
    --neutral_200: #CCCCCC;
    --neutral_300: #B3B3B3;
    --neutral_400: #999999;
    --neutral_500: #808080;
    --neutral_600: #676767;
    --neutral_700: #4D4D4D;
    --neutral_800: #343434;
    --neutral_850: #272727;
    --neutral_900: #1A1A1A;
    --neutral_950: #0D0D0D;
    --neutral_1000: #010101;

    --gradient_primary: linear-gradient(107deg, #FCB005 -27.34%, #B34BBC 96.87%);

    --button_primary__hovered: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.30) 100%), linear-gradient(107deg, #FCB005 -27.34%, #B34BBC 96.87%);
    --button_secondary__hovered: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), #FFBF99;
    --button_danger__hovered: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), #B73A3A;;
}

/* TYPOGRAPHY =================================================================================== */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Instrument Serif', serif;
    line-height: 125%;
}

h1 {
    font-size: 56px;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 40px;
}
h4 {
    font-size: 36px;
}
h5 {
    font-size: 32px;
}
h6 {
    font-size: 28px;
}

.subheading-1 {
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 48px;
}
.subheading-2 {
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 40px;
}
.subheading-3 {
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 32px;
}
.subheading-4 {
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 28px;
}
.subheading-5 {
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 24px;
}
.subheading-6 {
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.body-1 {
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}
.body-2 {
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
}
.body-3 {
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
}
.body-4 {
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
}
.body-5 {
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 150%;
}
.body-6 {
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 8px;
    line-height: 150%;
}

/* BUTTONS =================================================================================== */
.button {
    display: inline-flex;
    padding: 0.5rem 1rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border: 0.5rem;
}
.button-primary {
    background-color: var(--gradient_primary);
    color: var(--neutral_0);
}
.button-primary:hover {
    background-color: var(--button_primary__hovered);
}
.button-secondary {
    background-color: var(--secondary_200);
    color: var(--secondary_800);
}
.button-secondary:hover {
    background-color: var(--button_secondary__hovered);
}
.button-tertiary {
    background-color: transparent;
    border: 2px solid var(--primary_400);
    color: var(--primary_100);
}
.button-tertiary:hover {
    border: 2px solid var(--primary_200);
    color: var(--primary_500);
}


/* FOOTER */
.site-footer {
    background-color: var(--primary_800);
    color: #FFFF;
    padding: 30px 0;
    margin-top: auto;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-copy {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.7);
}

.footer-social {
    display: flex;
    gap: 12px;
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary_0); 
}

.social-icon svg {
    width: 28px;
    height: 28px;
}


/* MOBILE */
@media (max-width: 768px) {
    .footer-inner {
        flex-direction: column; 
        align-items: flex-start; 
        gap: 16px;
    }
    
    .social-icon svg {
        width: 24px; 
        height: 24px;
    }
}
